# Lab 1_a / Data Manipulation

## OBJECTIVE
* Learning data manipulation and exploration.



## 1. Standard output
`print` is the primary function used to write to the console in Python
* `print` is a *function* in Python 3
* `print` is a *statement* in Python 2

print('Hello World!') # Python 3
print 'Hello World!'  # Python 2

## 2. Importing libraries

In [2]:
# import packages
import string                   
import pandas as pd             
import numpy as np              
import matplotlib.pyplot as plt

***
## 3. Generating a sample data set
#### Set the number of rows and columns for the sample data set

In [3]:
n_rows = 1000
n_vars = 2

#### Create lists of strings that will become column names
* Lists are a common data structure in Python
* Lists are surrounded by square brackets [] and contain different data types as list elements

In [ ]:
# list comprehension
# str() converts to string
# range() creates a list of values from arg1 to arg2
num_col_names = ['numeric' + str(i+1) for i in range(0, n_vars)]  
num_col_names

In [ ]:
type(num_col_names) # type()

#### Create a list of text elements from which to sample

In [ ]:
# string.ascii_uppercase is a string constant of uppercase letters
print(string.ascii_uppercase)

# another list comprehension
# slice first seven letters of the string
text_draw = [(letter * 8) for letter in string.ascii_uppercase[:7]] 
text_draw

#### Create a random numerical columns directly using numpy
The numerical columns will be a 2-D numpy array

In [16]:
type(randoms)

numpy.ndarray

#### Create numerical columns of Pandas dataframe from numpy array
Notice that a key is generated automatically

In [18]:
type(num_cols)

pandas.core.frame.DataFrame

#### Create random character columns as a Pandas dataframe
* Use a numpy sampling function `choice()` to generate a 2-D numpy array of random text values
* Create Pandas dataframe from numpy 2-D array

#### Use Pandas `concat()` function to join the numeric and character columns into a new dataframe

***
## 4. Subsetting Pandas dataframes
### By columns
#### Subsetting by index

In [ ]:
# one column returns a Pandas series
# a Pandas series is like a single column vector
scratch_df.iloc[:, 0].head()

In [22]:
type(scratch_df.iloc[:, 0])

pandas.core.series.Series

#### Subsetting by variable name

In [ ]:
scratch_df['numeric1'].head()

In [ ]:
scratch_df.numeric1.head()

In [ ]:
# loc[] allows for location by column or row label 
scratch_df.loc[:, 'numeric1'].head()

In [ ]:
# loc can accept lists as an input
scratch_df.loc[:, ['numeric1', 'numeric2']].head()

### By rows
#### Subsetting by index

In [ ]:
scratch_df[0:3]

In [ ]:
# Selecting by index 
scratch_df.iloc[0:5, :]

In [ ]:
# select by row label
# here index/key values 0:5 are returned
scratch_df.loc[0:5, :]

#### Boolean subsetting

In [ ]:
scratch_df[scratch_df.numeric2 > 0].head()

In [ ]:
scratch_df[scratch_df.char1 == 'AAAAAAAA'].head()

In [ ]:
scratch_df[scratch_df.char1.isin(['AAAAAAAA', 'BBBBBBBB'])].head()

In [ ]:
scratch_df[scratch_df.numeric2 > 0].loc[5:10, 'char2']

***
## 5. Updating the dataframe

In [ ]:
# must use .copy() or this will be a symbolic link
scratch_df2 = scratch_df.copy()

# Pandas supports in place overwrites of data
# overwrite last 500 rows of char1 with ZZZZZZZZ
scratch_df2.loc[500:, 'char1'] = 'ZZZZZZZZ'
scratch_df2.tail()

***
## 6. Sorting the dataframe
#### Sort by values of one variable

In [ ]:
scratch_df2.sort_values(by='char1').head()

#### Sort by values of multiple variables and specify sort order

#### Sort by the value of the dataframe index

***
## 7. Adding data to the dataframe
* Pandas `concat()` supports numerous types of joins and merges
* Pandas `merge()` supports joins and merges using more SQL-like syntax 
  * i.e. `merge(left, right, on=)`
* Pandas `append()` supports stacking dataframes top-to-bottom

In [ ]:
# create a toy dataframe to join/merge onto scratch_df
scratch_df3 = scratch_df3.drop(['numeric1', 'numeric2'] , axis=1)
scratch_df3.columns = ['char3', 'char4']
scratch_df3.tail()

In [ ]:
# default outer join on matching indices
# this will create 2000 row × 6 column dataset because indices are not in identical order
scratch_df4 = pd.concat([scratch_df, scratch_df3])
scratch_df4

In [ ]:
# outer join on matching columns
# axis=1 specificies to join on matching columns
scratch_df5 = pd.concat([scratch_df, scratch_df3], axis=1)
scratch_df5.head()

In [41]:
scratch_df5.shape

(1000, 6)

***
## 8. Comparing dataframes
* Use Pandas `equals()` to compare dataframes
* Row order is not ignored

In [ ]:
scratch_df.equals(scratch_df)

In [ ]:
scratch_df.equals(scratch_df.sort_values(by='char1'))

In [ ]:
scratch_df.mean()
scratch_df.mode()
scratch_df.describe()

### groupby

In [ ]:
# groupby the values of more than one variable
group_means = scratch_df.groupby(['char1', 'char2']).mean()
group_means

## Exporting and importing a dataframe
* Many `to_*` methods available for exporting dataframes to other formats
* Many `read_*` methods available for creating dataframes from other formats

In [46]:
# export to csv
scratch_df.to_csv('scratch.csv')

In [47]:
# import from csv 
scratch_df7 = pd.read_csv('scratch.csv')

###  &#167; Write the code to load the data directly into a Pandas dataframe.

### &#167;  Compute the price per square foot for all properties.  Add this data back into the dataframe.  
 * See the documentation on [concatening objects](http://pandas.pydata.org/pandas-docs/stable/merging.html#concatenating-objects).
 * Turn in the code that does this, and show the results of `head()` and `tail()` on the new dataframe.